.card{
    font-weight: slim;
    background: white;
    width: 100%;
    max-width: 300px;
    margin: 0 auto; 
    border-radius: 16px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "temperature temperature"
    "humidity humidity"
    "copyr copyr"
}

.card .temp{
    grid-area: temperature;
}

.card .humidity{
    grid-area: humidity;

}
.card .copy{
    grid-area: copyr;
    font-size: .7em;
}