
<div class="card">
    <img src="" id="imagen">
<div *ngIf = "weatherService.weather$ | async as weather">
    <div id="refresh">
        <div   class="temp" >
            <p>Temperatura</p>
            <p class="big"> {{weather.temperature }}</p>
        </div>
        <div  class="humidity">
            <p>Humedad</p>
            <p  class="big"> {{weather.humidity}}</p>
        </div>
    </div>
</div>
<div id="copyr" class="copy">
<p><small>Desarrollado por Lucia Rodas. Para Programacion 3</small></p>
<p><small>Bajo licencia de SoferGT</small></p>
</div>
</div>
<ng-template #loading>
  Esperando Datos..
</ng-template>


